<div class="container-fluid  d-flex flex-column align-items-center">
<h4>User List</h4>
<button type="button" class="btn btn-success">Agregar Jugadores</button>
</div>

<div class="container-fluid players">
    <input type="text" class="form-control">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">apellidos</th>
            <th scope="col">Sexo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaTabla">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nombre}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.sexo}}</td>
            <td>
              <div class="botonesCrud">
                <button  (click)="navegarLista()" type="button" class="btn btn-primary">Añadir</button>
                <button type="button" class="btn btn-warning ms-2">Editar</button>
                <button type="button" class="btn btn-danger ms-2">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>