<div class="container-fluid players">
  <h3>Edit Players</h3>

  <form class="row g-3 needs-validation" [formGroup]="form">

    <div class="col-md-4">
      <label for="name" class="form-label">Player Name</label>
      <input id="name" placeholder="Player Name" type="text" class="form-control" formControlName="name">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" (click)="createDeck()">Agregar deck</button>
    </div>

    <div class="col-md-4 decks" formArrayName="decks" *ngFor="let item of decks; let i = index">

      <form class="row g-3" [formGroupName]="i">
        <div class="col-auto">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre del deck">
        </div>
        <div class="col-auto">
          <label for="cards">Cartas</label>
          <input type="text" class="form-control" id="cards" formControlName="cards" placeholder="Cantidad de cartas">
        </div>
      </form>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" (click)="updatePlayer()">Guardar</button>
    </div>
  </form>

</div>

<!-- 1.07 youtube -->