<div class="container-fluid players">
    <h3>Add Players</h3>
<form [formGroup]="form" class="row g-3 needs-validation">
  <pre>
    <code>{{form.value | json}}</code>
  </pre>   //Para saber que esta funcionando el formulario-->

    <div class="col-md-4">
      <label for="name" class="form-label">Player Name</label>
      <input id="name" placeholder="Player Name" type="text" class="form-control" formControlName="name">
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="createDeck()">Agregar Decks</button>
    </div>
    

    <div class="decks" formArrayName="decks" *ngFor="let item of decks; let i = index"> <!--En principio este div no se pinta debido a que en el ts 'decks' se encuentra vacio. para eso cramos la funcion  (click)="createDeck()-->
      <form class="row g-3" [formGroupName]="i">
        <div class="col-auto">
          <label for="name">Nombre</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre del decks">
        </div>
        <div class="col-auto">
          <label for="cards">Cartas</label>
          <input type="text" id="cards" class="form-control" formControlName="cards" placeholder="Cantidad de cartas">
        </div>
      </form>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
    
  </form>
</div>


 <!--Esto recorrerá cada uno de los decks que se agreguen-->
